.footer-section{
    height: 35vh;
    background: black;
    color: rgb(179, 176, 176);
    padding: 20px;
}
.footer-image{
    height: 200px;
    width: 400px;
    color: aliceblue;
}
.footer-mainmenu{
    text-align: start;
}
